
:root{
    --hover-btn-bg :hsl(355, 100%, 74%);
    --button-txt:hsl(356, 100%, 66%);
    --hover-btn:white;
    --dropdown-el: black;
    --designed-for-future-p: hsl(207, 13%, 34%);
    --headings:hsl(208, 49%, 24%);
    --footer-txt:hsl(240, 2%, 79%);
    --footer-bg:hsl(240, 10%, 16%);
    --very-light-red-hero-gradient: hsl(13, 100%, 72%);
    --light-red-hero-gradient:hsl(353, 100%, 62%);
    /* gradients */
    --very-dark-gray-blue-body-gradient:hsl(237, 17%, 21%);
    --very-desaturated-blue-body-gradient:hsl(237, 23%, 32%);
    /* fonts */
    --cta-font: "Ubuntu";
    --body-font:"Overpass";
}



html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0 ;

    font-family: var(--body-font);
}

.hero-section {
    border-bottom-left-radius: 60px; /* Curve on the bottom left corner */
    padding: 40px 80px;
    background: 
    url("../images/bg-pattern-intro-desktop.svg") center no-repeat,
    linear-gradient(to right, hsl(13, 100%, 72%) 0%,hsl(353, 100%, 62%)50%);
    background-size: cover cover;
    background-position: 30% 52%, center; /* Gradient centered; image 10% to the right and 40px from the top */

}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.navbar-left{
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: start;
    font-family: var(--cta-font);
}

.dropdown-btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-btn svg {
    vertical-align: middle; /* Aligns SVG with text */
    margin-top: 2px; /* Adjust if needed */
}
.dropdown-btn i{
color: white;
}

.dropdown-content {
    margin-top: 40px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    font-weight: 800;
}

.product:hover .product-content{
    display: block;
}
.company:hover .company-content{
    display: block;
}
.connect:hover .connect-content{
    display: block;
}

.auth-btn {
    float: none;

    font-family: var(--cta-font);
    display: flex;
    align-items: center;
}

.auth-btn a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 20px;

}

.button{
    font-size: 16px;
    background-color:white;
    color:var(--button-txt);
    font-weight: 780;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}
.hero-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.hero-content h1{
    font-size: 70px;
    font-weight: 400;
    color: white;
    margin: 0;
}
.hero-content p{
    color: rgb(236, 234, 234);
    font-weight: 300;
    font-size: 24px;
    margin: 16px 0 24px 0;
}
.hero-content .button{
    margin: 26px 0;
    
}
.hero-buttons .button-start,.hero-buttons .button-learn{
    margin: 10px;
}
.hero-buttons .button-learn{
    background-color: transparent;
    color:white;
    border:1px solid white;
}
.button:hover{
    background-color: var(--hover-btn-bg);
    color: var(--hover-btn);
}
.hero-buttons .button-learn:hover{
    background-color: white;
    color: var(--button-txt);
}

.main-body-section{
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: relative;
    width: 100%; /* Ensures the container spans the full width */

}

.body-section{
    margin-left: 100px;
    order: 1;

}
.body-img{
    order:2;
    
}
.body-img img{
    transform: translateX(30%);

}
main h2{
    position: absolute;
    color: var(--headings);
    font-size: 36px;
   padding-top: 200px;
    text-align: center;
    left: 40%; /* Position it to the right of the body-section */
    transform:  translateY(-50%); /* Adjust the heading's position */
    white-space: nowrap; /* Prevents the heading from wrapping */   
}
/* Extra Small Devices (Phones) */
@media screen and (max-width: 480px) {
    /* Styles for very small devices */
}

/* Small Devices (Phones) */
@media screen and (max-width: 576px) {
    /* Styles for phones */
}

/* Medium Devices (Tablets) */
@media screen and (max-width: 768px) {
    /* Styles for tablets */
    .navbar{
        display: none;
    }
}

/* Large Devices (Laptops) */
@media screen and (max-width: 992px) {
    /* Styles for laptops */
}

/* Extra Large Devices (Desktops) */
@media screen and (max-width: 1200px) {
    /* Styles for desktops */
}

/* Extra Extra Large Devices (Large Desktops) */
@media screen and (min-width: 1201px) {
    /* Styles for large desktops */
}